
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %><br />
      <%= link_to 'Show', article_path(article) %><br />
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Article', new_article_path %>

<ul>
  <% @authors.each do |author|%>
    <li>
      <%= author.name %><br />
      <%= author.genre %><br />
      <%= link_to 'Show', author_path(author) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Author', new_author_path %>

